
* {
    margin: 0;
    padding: 0;
    
}

header {
    width: 100%;
    height: 100px;
    color: #1d1d1d;
    background-color: #ffffff;
    
    .inner {
        height: 100%;
        margin: 0px 20px;
        border-bottom: solid 1px #383838;
        display: flex;
        align-items: center;
        
        h1 {
            font-size: 20px;
            margin-left: 40px;
        }
    }
    
}
#container {
    display: grid;
    grid-template-columns: 20px auto 20px;
    margin-top: 50px;
    margin-bottom: 50px;

   #image {
       grid-column: 2 / -2;
       text-align: center;
       h2 {
           font-size: 20px;
           color: gray;
           margin-bottom: 30px;
       }
       .inner {
           display: inline-block;
            p {
                width: 400px;
                height: auto;
                overflow: hidden;
                position: relative;
                text-align: center;
                margin-bottom: 50px;
                img {
                    width: 100%;
                    height: auto;
                    vertical-align: bottom;
                }
                strong {
                    position: absolute;
                    display: block;
                    z-index: 1;
                    bottom: 0;
                    width: 400px;
                    height: 50px;
                    background-color: rgba(0,0,0,0.5);
                    color: #ffffff;
                    text-align: left;
                    padding: 10px;
                    box-sizing: border-box;
                
                }
                span {
                    position: absolute;
                    display: block;
                    z-index: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    box-shadow:0px 0px 20px 5px #000 inset;  
                    opacity: 0;       
                }
            }
            p:nth-child(1) strong {
                opacity: 0;
            }
            p:nth-child(2) strong {
                opacity: 0;
                left: -200%;
            }
            p:nth-child(3) strong {
                opacity: 0;
                bottom: -80px;
            }
        }                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           
    }
}

footer {
    width: 100%;
    height: auto;
    color: #ffffff;
    background-color: #383838;
    text-align: center;
}